<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/restaurante">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-list >
    <ion-item  *ngFor="let item of restaurantes" class="--padding-bottom:10px" >
      <ion-label>{{item.id}}-{{item.nombre}}-{{item.direccion}}</ion-label>
      <ion-fab vertical="center" horizontal="end" >
        <ion-fab-button>Acciones</ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button (click)="editar(item.id)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="eliminar(item.id)" >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>

        </ion-fab-list>
      </ion-fab>
    </ion-item>
  </ion-list>





</ion-content>
